@font-face 
    font-family: 'GolosText'
    src: url('./fonts/GolosText-VariableFont_wght.ttf')

:root
    --color-page: #F7F7F7
    --color-border: #DBDBDB
    --color-text: #283345
    --color-text-scnd: #888686
    --color-bg: #EFEFEF
    --color-bg-darker: #377FA9
    --color-text-reverse: #fff


*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'GolosText'
    font-weight: 500
    color: var(--color-text)